*~
barcelona-pavilion/pavilion-day.exr
barcelona-pavilion/pavilion-night.exr
crown/crown.exr
dambreak/dambreak0.exr
dambreak/dambreak1.exr
ganesha/ganesha.exr
head/head.exr
landscape/view-0.exr
landscape/view-1.exr
landscape/view-2.exr
landscape/view-3.exr
landscape/view-4.exr
lte-orb/lte-orb-blue-agat-spec.exr
lte-orb/lte-orb-rough-glass.exr
lte-orb/lte-orb-silver.exr
pbrt-book/book.exr
sanmiguel/sanmiguel-balcony-plants.exr
sanmiguel/sanmiguel-courtyard-second.exr
sanmiguel/sanmiguel-courtyard.exr
sanmiguel/sanmiguel-entry.exr
sanmiguel/sanmiguel-in-tree.exr
sanmiguel/sanmiguel-realistic-courtyard.exr
sanmiguel/sanmiguel-upstairs-across.exr
sanmiguel/sanmiguel-upstairs-corner.exr
sanmiguel/sanmiguel-upstairs.exr
smoke-plume/plume.exr
sportscar/sportscar-sky.exr
sssdragon/dragon_10.exr
sssdragon/dragon_250.exr
sssdragon/dragon_50.exr
transparent-machines/frame542.exr
transparent-machines/frame675.exr
transparent-machines/frame812.exr
transparent-machines/frame888.exr
villa/villa-daylight.exr
zero-day/frame120.exr
zero-day/frame180.exr
zero-day/frame210.exr
zero-day/frame25.exr
zero-day/frame300.exr
zero-day/frame35.exr
zero-day/frame380.exr
zero-day/frame52.exr
zero-day/frame85.exr
